@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.post-style {
  margin-top: 1rem;
  padding-top: 1rem;
}

.eachPost{
  display: flex;
  margin-left: 1.1rem;
  margin-top: 1rem;
  width: 50.5rem;
  align-items: center;
  background-color: #D7ECEB;
  border-radius: 2rem;
  padding: 2rem;
}

.infos-user {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.img-user-log {
  border-radius: 3rem;
  margin-top: 1rem;
}
.name-user-log, .quote-posted, .author-name-log {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.name-user-log {
  font-weight: bolder;
}

.quote-posted {
  font-size: 14px;
  margin-left: 2rem;
}


.author-name-log {
  font-weight: bold;
  font-size: 13px;
  padding-top: 1rem;
  margin-left: 21rem;
  border-bottom: 2px solid #F2AE2D;
}

.date-hour {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

 .user-reactions {
  display: block;

 }

 .updl {
  padding-left: 0.2rem;
  padding-top: 0.4rem;
  width: 25px;
  cursor: pointer;
 }


 .user-reactions{
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    padding-top: 0.5rem;
    gap: 9px;
 }

 .confirm-paragraph {
  padding-top: 2rem;
  margin-left: 0.5rem;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
 }

 .button-dlt {
  background-color: #F2AE2D;
 }
 .button-dlt:hover {
  background-color: #d3ae6a;
 }

 .button-dlt, .button-ccl {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 2rem;
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  width: 30%;
  height: 20%;
 }

 .button-ccl {
  background-color: rgba(79, 86, 86, 0.219);
 }
 .button-ccl:hover{
  background-color: rgba(135, 141, 141, 0.219);
 }

 .confirm-style {
  width: 20rem;
  height: 8rem;
  background-color: #FFF;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

 }


 @media screen and (min-width: 320px) and (max-width: 767px) {
  
  .eachPost{
    width: 28.5rem;
  }

  .name-user-log, .quote-posted, .author-name-log {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
  }

  .quote-posted {
    display: flex;
    font-size: 12px;
    margin-left: 2rem;

 }

 .author-name-log {
    margin-left: 5rem;
 }

}